<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Zhao's Blog</title>

  <link rel="stylesheet" href="{{ '/css/site.css' | url }}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
</head>
<body>
<header>
      <a href="{{ '/' | url }}" class="link--home">Zhao's Blog</a>
      <a href="{{ '/About' | url }}" class="link--about">About</a>
</header>
<main>
  {{ content | safe }}
</main>
<footer>&copy; Zhao Feng</footer>
</body>
</html>